################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
.vs/slnx.sqlite
*.json
.idea/
**/toyEnv/
Lesson03/Solutions/ATM machine.drawio
